@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* selector {property}
h1 {
  color: blanchedalmond;
}
h3 {
  color: rgb(255, 215, 0);
}
body {
  background-color: #000000;
} */
/* section {
  width: 200px;
  height: 200px;
  background-color: red;
}
div {
  width: 40px;
  height: 40px;
  background-color: violet;
} */

/* h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  text-transform: lowercase;
  text-align: center;
  text-decoration: line-through;
  text-decoration: double;
  text-decoration: overline;
} */
p {
  line-height: 30px;
  /* word-spacing: 500px; */
  /* letter-spacing: 40px; */
  /* cursor: grab; */
  cursor: alias;
}
a {
  text-decoration: none;
  color: black;
}

.flint {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}
#border {
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
  padding: 20px;
  margin: 20px;
}

#background {
  height: 100vh;
  background-color: black;
  /* uniform resource locator */
  background-image: url(https://images.unsplash.com/photo-1720048169707-a32d6dfca0b3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  /* this will cover the whole page */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* gradients */
}

div {
  /* linear gradidant colors the image from top to bottom of the colors of your choice or you can add any type of color and any amount of colors you want to add */
  /* radial gradiant colors the image from left to right of the colors of your choice or with any numbers of colors you want to add of your choice */
  /* background-image: url("https://plus.unsplash.com/premium_photo-1722254420199-da4cba75fd2e?q=80&w=2939&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100vh; */
  /* width: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* filters */
  /* filter: blur(20px); */
  /* filter: brightness(10%); */
  /* filter: contrast(10%); */
  /* filter: grayscale(100%); */
  /* filter: grayscale(100%); */
}

/* advance selectors */
/* to select a class we have to select . */
/* to select a id we have to select #  */
/* div p {
  color: red;
} */
/* .link:link {
  color: red;
}
.visited:visited {
  color: gold;
}
.hover:hover {
  color: aqua;
}
.active:active {
  color: darkgoldenrod;
} */
/* span { */
/* background-color: teal;
  width or height dono nai lega
  width: 200px;
  height: 200px;
  /* block ki jitni jagah lega */
/* display: inline; */

/* }
section {
  background-color: aquamarine;
  width or height dono lega */
/* width: 200px;
  height: 200px;
  display: inline;
} */
/* div {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  box-shadow: 10px 10px 20px red;
} */

/* body {
  background-color: black;
}
h1 {
  text-shadow: 2px 2px 2px red;
} */

body {
  background-color: purple;
}

.container {
  border: 2px solid rgb(255, 0, 0);
  width: 800px;
  height: 200px;
  margin: 20px auto;
}

.container.child {
  width: 50px;
  height: 50px;
  background: rgb(168, 171, 21);
  text-align: center;
  margin: 5px;
}
/* flexbox froggy */
