div{
    background-image: url('https://imgs.search.brave.com/-MLiGchwEDBCBoDZkQpeizvyViR_fJZ6gC9CiUEV-LA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/Y2F0LXBob3RvLWhk/LmpwZz93aWR0aD0x/MDAwJmZvcm1hdD1w/anBnJmV4aWY9MCZp/cHRjPTA');
    background-size: cover;
    position: fixed;
    height: 100px;
    width: 100px;
}