.nav{
    background-color: black;
    height: 40px;
    width: 967px;
    padding-top: 15px;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 100px;
}
.bottom{
    margin-top: 560px;
    background-color: red;
    padding: 25px;
}
.body{
    background-color: blue;
    display: block;
    height: 500px;
    width: 1000px;
}
