
.nav{
height: 40px;
width: 950px;
background-color: black;
}
h3{
    color: white;
    font-weight: 100;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: white;
    padding-right: 170px;
}
button{
    background: yellow;
}
